body{
    background-color: aliceblue;
    margin: 0 auto;
}

table{
    border-collapse: collapse;
    width: 400px;
    font-family: sans-serif;
}

th{
    border: 1px solid #4c0d70;
    padding: 8px;
    text-align: right;
    background-color: #7014a5;
    font-weight: bold;
}

td{
    border: 1px solid #7014a5;
    padding: 8px;
    text-align: left;
}